external/* linguist-vendored

*.c linguist-detectable=false
*.h linguist-detectable=false

Makefile linguist-detectable=false

*.html linguist-detectable=false

*.css linguist-detectable=false

*.js linguist-detectable=false