lua-5.3.5/* linguist-vendored
lua-5.4.1/* linguist-vendored
ta-lib/* linguist-vendored

*.c linguist-detectable=false
*.h linguist-detectable=false

*.html linguist-detectable=false

*.css linguist-detectable=false

*.js linguist-detectable=false